# EDUNET FOUNDATION - Self-Practice Exercise Notebook Solutions

# LAB 10- Python Connection with Database

Problem 1 create a table named EMPLOYEE in MySQL with five columns namely, FIRST_NAME,AGE, SEX and, INCOME.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
	host = "localhost",
	user = "root",
	password = "MySQL",
	database = "mynewdatabase"
)

mycursor = mydb.cursor()

# Creating a table called 'STUDENT' in the
# 'mynewdatabase' database
mycursor.execute("CREATE TABLE EMPLOYEE(FIRST_NAME CHAR(20) NOT NULL,LAST_NAME CHAR(20),AGE INT,SEX CHAR(1),INCOME FLOAT)")

Problem 2: Display created table using SELECT

In [ ]:
import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
	host = "localhost",
	user = "root",
	password = "MySQL",
	database = "mynewdatabase"
)

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Retrieving single row
sql = '''SELECT * from EMPLOYEE'''

#Executing the query
cursor.execute(sql)

#Fetching 1st row from the table
result = cursor.fetchone();
print(result)

#Fetching 1st row from the table
result = cursor.fetchall();
print(result)

#Closing the connection
conn.close()

Problem 3:Write a MySQL statement which retrieves the records of the employees whose income is greater than 4000.

In [ ]:
import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   host = "localhost",
	user = "root",
	password = "MySQL",
	database = "mynewdatabase")

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
sql = '''CREATE TABLE EMPLOYEE(
   FIRST_NAME CHAR(20) NOT NULL,
   LAST_NAME CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT
)'''
cursor.execute(sql)

#Populating the table
insert_stmt = "INSERT INTO EMPLOYEE (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) 
   VALUES (%s, %s, %s, %s, %s)"

data = [('Krishna', 'Sharma', 19, 'M', 2000), ('Raj', 'Kandukuri', 20, 'M', 7000),
('Ramya', 'Ramapriya', 25, 'F', 5000),('Mac', 'Mohan', 26, 'M', 2000)]
cursor.executemany(insert_stmt, data)
conn.commit()

#Retrieving specific records using the where clause
cursor.execute("SELECT * from EMPLOYEE WHERE AGE <23")
print(cursor.fetchall())

#Closing the connection
conn.close()