# EDUNET FOUNDATION - Self-Practice Exercise Notebook

# LAB 18- Python Connection with Database

Problem 1 create a table named EMPLOYEE in MySQL with five columns namely, FIRST_NAME,AGE, SEX and, INCOME.

Problem 2: Display created table using SELECT

Problem 3:Write a MySQL statement which retrieves the records of the employees whose income is greater than 4000.